# Angular / Node
/dist
/tmp
/out-tsc
/node_modules
npm-debug.log
yarn-error.log

# IDE
/.vscode/*
!/.vscode/extensions.json
/.idea
.project
.classpath
*.launch

# Testing
/coverage

# System
.DS_Store
Thumbs.db

# Angular cache
/.angular/cache
.sass-cache
