# Datos fuente binarios grandes
source/spei-aut-ent/*.xlsx
source/spei-aut-ent/*.xls
source/spei-aut-ent/*.csv

# Python
__pycache__/
*.py[cod]
*.pyo
.Python

# Entornos virtuales
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
